body {
  position: relative; /* Keeps the main-sidebar full-height */

  color: #e9e9e9;
}

.main-footer {
  color: #dddddd;
  background: #000000;
}

.atlwdg-trigger{
  z-index: 1050;
}

.deform-seq-add{
  color: #ab3f3f;
}

.deform-seq-add:visited {
  color: #ab3f3f;
}

.deform-seq-add:hover {
  color: #d65050
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #ab3f3f;
}

.nav-pills .nav-link:not(.active):hover {
  color: #d65050;
}

.main-footer{
  bottom: 0;
  left: 0;
  position: sticky;
  margin-left: 0 !important;
  z-index: 1039;
  max-height: 250px;
}

.login-page .main-footer, .register-page .main-footer {
  position: static;
}

.sidebar-open .main-sidebar {
  z-index: 1040;
}

@media (min-width: 992px) {
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 0 !important;
  }
}

.login-logo,
.register-logo{
  color: #ffffff;
}

.crew {
  color: #dddddd;
  background: #000000;
}

.i.img-crew {
  width: 30px;
  margin-right: 0.5em;
}

.status {
  display: flex;
}
.status .icon {
  flex: 0 0 auto;
}

.status .label {
  flex: 1 1 auto;
}

.status .status_text {
  flex: 0 1 auto;
  text-align: right;
}

.list-group {
  color: #dddddd;
  background: transparent;
}

.list-group-item {
  color: #dddddd;
  background: transparent;
}

.navbar {
  color: #dddddd;
  background: #000000;
}

.navbar-darker {
  color: #dddddd;
  background: #000000;
}

.nav-item {
  color: #dddddd;
}

.nav-link {
  color: #dddddd;
}
.btn-navbar {
  color: #dddddd;
}

.card, .card-body {
  color: #dddddd;
  background: #1a1a1a;
}

.login-box .card,
.register-box .card {
  background: rgba(62, 62, 62, 0.1);
  backdrop-filter: blur(2px);
  border: 2px solid rgba(221, 221, 221, 0.2);
}

.login-box .card-body,
.register-box .card-body {
  background: transparent;
}

.login-box,
.register-box {
  max-width: 100%;
}

.login-page,
.register-page {
  background: #000000;
  display: grid;
  grid-template-rows: 1fr max-content;
  grid-template-columns: minmax(300px, 100vw);
  place-items: center;
}

.table td {
  border-top-color: #333333;
}

.table thead th {
  border-bottom-color: #333333;
}

.content-wrapper {
  background: #000000;
}

[class*='sidebar-dark-'] {
  background-color: #1a1a1a;
}

.card-title {
  font-weight: bold;
}

.info-box {
  background: #1a1a1a;
}

.info-box .info-box-icon {
  flex-shrink: 0;

  padding: 0.5rem;
}

.info-box .info-box-icon i.icon {
  min-height: 30px;
}

i.icon {
  display: inline-block;
  width: 30px;
  margin-right: 0.5em;
}

td i.icon {
  display: inline-block;

  width: 30px;
  margin-right: 0.5em;
}

.content-header h1.text-dark {
  color: #ffffff !important;
}

a {
  color: #ab3f3f;
}

a:hover {
  color: #d65050;
}

a.text-muted:hover {
  color: #ab3f3f !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #ab3f3f;
}

[class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link.active, [class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link.active:hover, [class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link.active:focus {
  background-color: rgba(43, 43, 43, 0.9);
  color: #e9e9e9;
}

.btn-group.show .btn-tool, .btn-tool:hover {
  color: #d65050;
}

.btn-primary {
  background-color: #ab3f3f;
  border-color: #ab3f3f;
}

.btn-primary:hover {
  background-color: #d65050;
  border-color: #d65050;
}

.btn-primary:focus {
  background-color: #d65050;
  border-color: #ffffff;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #ab3f3f;
  border-color: #ab3f3f;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #d65050;
  border-color: #d65050 #d65050 #ffffff #d65050;
}

.btn-secondary {
  background-color: #685a5a;
  border-color: #685a5a;
}

.btn-secondary:hover {
  background-color: #7d6c6c;
  border-color: #7d6c6c;
}

.btn-secondary:focus {
  background-color: #7d6c6c;
  border-color: #ffffff;
}

.btn-secondary.disabled .btn-secondary:disabled {
  background-color: #574949;
  border-color: #574949;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: #7d6c6c;
  border-color: #685a5a #685a5a #ffffff #685a5a;
}

.btn-small {
  padding: 0 0.3rem;
  font-size: 0.9rem;
}

.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + label::before, .icheck-primary > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
  border-color: #ab3f3f;
}

.icheck-primary > input:first-child:checked + label::before, .icheck-primary > input:first-child:checked + input[type="hidden"] + label::before {
  background-color: #ab3f3f;
  border-color: #ab3f3f;
}

.form-control:focus, .login-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text, .register-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text {
  border-color: #ab3f3f;
}

.card-primary:not(.card-outline) > .card-header {
  background-color: #ab3f3f;
}

.card-primary.card-outline {
  border-top-color: #ab3f3f;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #ab3f3f;
}

.twitter-typeahead .tt-hint {
  border-radius: 3px;
}

.tt-dropdown-menu {
  background-color: #111111;
}

.tt-suggestion.tt-is-under-cursor {
  background: #ab3f3f;
}

.select2-dropdown, .select2-container--default .select2-dropdown {
  background-color: #111111;
  border-color: #333;
}

.select2-container--default .select2-results__option[aria-selected='true'] {
  background-color: #ab3f3f;
  color: inherit;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
  background-color: #d65050;
}

.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
  background-color: #111111;
  border-color: #333 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #dddddd;
}

.select2-container--default .select2-dropdown .select2-search__field,
.select2-container--default .select2-search--inline .select2-search__field {
  background-color: #111111;
  border-color: #333333;
  color: #dddddd;
}

.select2-container--default .select2-dropdown .select2-search__field:focus,
.select2-container--default .select2-search--inline .select2-search__field:focus {
  border-color: #ab3f3f;
}

.form-control,
.input-group-text {
  border-color: #333333;
}

.form-control:focus:not(.tt-query),
.form-control:not(.tt-query),
.twitter-typeahead .tt-hint,
.login-card-body .input-group .input-group-text,
.register-card-body .input-group .input-group-text {
  background-color: #111111 !important;
  color: #dddddd;
}

.tt-query {
  color: #dddddd;
}

.tt-hint {
  color: #666666 !important;
}

.form-control:focus {
  color: inherit;
}


/* ===== Landing page ================= */

:root {
  --padding: 2rem;
}

body.landing {
  display: flex;

  flex-flow: column nowrap;

  min-height: 100vh;
  margin: 0;

  font-family: "Open Sans", sans-serif;

  background: bottom right / cover url(/static/img/abs-carrier-fuelrats.jpg) #000000 no-repeat;
  color: #ffffff;
}

body.landing .landing-header {
  display: flex;

  flex-grow: 0;

  flex-flow: row wrap;
  justify-content: space-between;

  padding: var(--padding);
}

body.landing .title {
  font-family: "Euro Caps", sans-serif;
  display: flex;
  align-items: center;

  font-size: 3rem;
  line-height: 1;
}

body.landing .logo {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

body.landing .logo svg {
  color: white;
}

body.landing .content {
  display: grid;

  flex-grow: 1;

  grid-template:
    "statistic statistic map" min-content
    "searches searches map" min-content
    ". . map" min-content
    / minmax(100px, 1fr) minmax(100px, 1fr) 2fr;
  justify-content: center;
}

body.landing .main-footer {
  flex-grow: 0;

  border-color: rgba(43, 43, 43, 0.8);

  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
}

body.landing .main-footer {
  position: unset;
}

body.landing .map {
  display: flex;

  grid-area: map;
  place-self: start;

  justify-content: center;

  max-width: fit-content;
  max-height: 100vh;
  margin: var(--padding);
  padding: 1rem;

  text-align: center;

  border-radius: 0.5rem;

  background: rgba(26, 26, 26, 0.4);
  backdrop-filter: blur(5px);
}

body.landing .statistic {
  text-align: center;
  font-family: "Euro Caps", sans-serif;
  font-size: clamp(10px, 2vw, 2rem);
  padding: var(--padding);
}

body.landing .stat {
  font-size: 4em;
  line-height: 0.9;
}

body.landing .statistic .label {
  white-space: nowrap;
}

body.landing .searches {
  grid-area: searches;
  padding: var(--padding);
}

body.landing .searches form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

body.landing .searches input,
body.landing .searches button {
  margin: 0.2rem;
}

body.landing .searches .form-control {
  width: auto;
  color: #dddddd;
}

body.landing .searches input[type=search] {
  background: rgba(26, 26, 26, 0.4) !important;
  border-color: rgba(43, 43, 43, 0.8);
  backdrop-filter: blur(5px);
}

body.landing .searches input[type=search]:focus {
  border-color: #ab3f3f;
}

body.landing .searches input[type=search] {
  flex-grow: 1;
}

body.landing .searches .item-system label {
  display: none;
}
body.landing .searches .item-system {
  margin: 0;
}

body.landing .form-control:focus {
  border-color: #ab3f3f;
}

body.landing fieldset.deform-form-fieldset {
  width: 100%;
}

body.landing input.tt-hint {
  background: rgba(26, 26, 26, 0.4) !important;
  backdrop-filter: blur(5px);
}

body.landing .tt-query {
  border-color: rgba(43, 43, 43, 0.8);
}

/* JIRA issue collector button */
body.landing .atlwdg-trigger.atlwdg-SUBTLE {
  right: 8%;
  background: rgba(26,26,26,0.4);
  border: 1px solid rgba(43,43,43,1);
  color: white !important;
  border-bottom: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  border-radius: 4px 4px 0 0;
}

@media screen and (max-width: 900px) {
  body.landing .landing-header {
    flex-flow: column;
  }

  body.landing .title {
    order: 1;
  }

  body.landing .user {
    align-self: flex-end;
    padding-bottom: 1rem;
  }

  body.landing .content {
    grid-template:
    "statistic statistic" min-content
    "searches searches" min-content
    "map map" min-content
    / minmax(100px, 450px) minmax(100px, 450px);
  }

  body.landing .statistic {
    font-size: clamp(10px, 3vw, 2rem);
  }
}

@media screen and (max-width: 500px) {
  :root {
    --padding: 1rem;
  }

  body.landing .title {
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  body.landing .title {
    font-size: clamp(20px, 10vw, 3rem);
  }
}
