body {
  position: relative; /* Keeps the main-sidebar full-height */

  color: #e9e9e9;
}

.main-footer {
  color: #dddddd;
  background: #000000;
}

.main-footer{
  bottom: 0;
  left: 0;
  position: sticky;
  margin-left: 0 !important;
  z-index: 1039;
}

.login-page .main-footer, .register-page .main-footer {
  position: static;
}

.sidebar-open .main-sidebar {
  z-index: 1040;
}

@media (min-width: 992px) {
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 0 !important;
  }
}

.login-logo,
.register-logo{
  color: #ffffff;
}

.crew {
  color: #dddddd;
  background: #000000;
}

.i.img-crew {
  width: 30px;
  margin-right: 0.5em;
}

.status {
  display: flex;
}
.status .icon {
  flex: 0 0 auto;
}

.status .label {
  flex: 1 1 auto;
}

.status .status_text {
  flex: 0 1 auto;
  text-align: right;
}

.list-group {
  color: #dddddd;
  background: transparent;
}

.list-group-item {
  color: #dddddd;
  background: transparent;
}

.navbar {
  color: #dddddd;
  background: #000000;
}

.navbar-darker {
  color: #dddddd;
  background: #000000;
}

.nav-item {
  color: #dddddd;
}

.nav-link {
  color: #dddddd;
}
.btn-navbar {
  color: #dddddd;
}

.card, .card-body {
  color: #dddddd;
  background: #1a1a1a;
}

.login-box .card,
.register-box .card {
  background: rgba(62, 62, 62, 0.1);
  backdrop-filter: blur(2px);
  border: 2px solid rgba(221, 221, 221, 0.2);
}

.login-box .card-body,
.register-box .card-body {
  background: transparent;
}

.login-box,
.register-box {
  max-width: 100%;
}

.login-page,
.register-page {
  background: #000000;
  display: grid;
  grid-template-rows: 1fr max-content;
  grid-template-columns: minmax(300px, 100vw);
  place-items: center;
}

.table td {
  border-top-color: #333333;
}

.table thead th {
  border-bottom-color: #333333;
}

.content-wrapper {
  background: #000000;
}

[class*='sidebar-dark-'] {
  background-color: #1a1a1a;
}

.card-title {
  font-weight: bold;
}

.info-box {
  background: #1a1a1a;
}

.info-box .info-box-icon {
  flex-shrink: 0;

  padding: 0.5rem;
}

.info-box .info-box-icon i.icon {
  min-height: 30px;
}

i.icon {
  display: inline-block;
  width: 30px;
  margin-right: 0.5em;
}

td i.icon {
  display: inline-block;

  width: 30px;
  margin-right: 0.5em;
}

.content-header h1.text-dark {
  color: #ffffff !important;
}

a {
  color: #ab3f3f;
}

a:hover {
  color: #d65050;
}

a.text-muted:hover {
  color: #ab3f3f !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #ab3f3f;
}

[class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link.active, [class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link.active:hover, [class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link.active:focus {
  background-color: rgba(43, 43, 43, 0.9);
  color: #e9e9e9;
}

.btn-group.show .btn-tool, .btn-tool:hover {
  color: #d65050;
}

.btn-primary {
  background-color: #ab3f3f;
  border-color: #ab3f3f;
}

.btn-primary:hover {
  background-color: #d65050;
  border-color: #d65050;
}

.btn-primary:focus {
  background-color: #d65050;
  border-color: #ffffff;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #ab3f3f;
  border-color: #ab3f3f;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #d65050;
  border-color: #d65050 #d65050 #ffffff #d65050;
}

.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + label::before, .icheck-primary > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
  border-color: #ab3f3f;
}

.icheck-primary > input:first-child:checked + label::before, .icheck-primary > input:first-child:checked + input[type="hidden"] + label::before {
  background-color: #ab3f3f;
  border-color: #ab3f3f;
}

.form-control:focus, .login-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text, .register-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text {
  border-color: #ab3f3f;
}

.card-primary:not(.card-outline) > .card-header {
  background-color: #ab3f3f;
}

.card-primary.card-outline {
  border-top-color: #ab3f3f;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #ab3f3f;
}

