body {
  margin: 0;
  padding: 0;
  font-family: 'Euro Caps', sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(216, 126, 9);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/abs-carrier-fuelrats.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

.middle-banner {
  background-color: rgba(216, 126, 9, 0.3);
  padding: 1rem 2rem;
  border: 2px solid rgb(216, 126, 9);
  text-align: center;
}

.middle-banner .header {
    font-size: 3rem;
}

.middle-banner .subtitle {
    font-size: 2rem;
}

a {
  color: #ab3f3f;
}

a:hover {
  color: #d65050;
}