{% include "header.jinja2" %}
{% include "sidebar.jinja2" %}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-darker">
    <!-- Left navbar links -->
    <ul class="navbar-nav navbar-darker">
      <li class="nav-item navbar-darker">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="../../index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Profile</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3" action="/search">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" name="term">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </nav>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{ carrier_owner }}'s Fleet Carrier</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Carrier View</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
{% if error  %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">No carrier data!</h5>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <p class="text-center">
                      <strong>Is this your carrier?</strong>
                        You don't have a carrier registered. Click <a href="{{ request.route_url('oauth') }}">here</a> to Oauth with FDev and add your carrier!
                    </p>

                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
          <!-- Temp close -->
      </div>
    </section>
  </div>
{% else %}

      <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon state">{% include "inline_svgs/state.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">{{ callsign }}</span>
                <span class="info-box-number">
                  {{ name }}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon fuel">{% include "inline_svgs/fuel.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Fuel Level</span>
                <span class="info-box-number">{{ fuel }} / 1000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon starsystem">{% include "inline_svgs/starsystem.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Current System</span>
                <span class="info-box-number">{{ current_system }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Last Updated</span>
                <span class="info-box-number">{{ last_updated }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

              <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon balance">{% include "inline_svgs/balance.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Balance</span>
                <span class="info-box-text">
                  {{ balance }}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon taxation">{% include "inline_svgs/taxation.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Taxation</span>
                <span class="info-box-number">{{ taxation }} %</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon completed_jumps">{% include "inline_svgs/completed_jumps.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Total distance jumped</span>
                <span class="info-box-number">{{ distance_jumped }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1">
                  <i class="icon capacity">{% include "inline_svgs/capacity.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Capacity</span>
                <span class="info-box-number">{{ capacity }} / 25 000 </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->



              <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon docking_access">{% include "inline_svgs/docking_access.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Docking access</span>
                <span class="info-box-number">
                  {{ docking_access }}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon notorious_access">{% include "inline_svgs/notorious_access.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Notorious Access</span>
                <span class="info-box-number">{{ "Yes" if notorious_access else "No" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon shipyard">{% include "inline_svgs/shipyard.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Shipyard Status</span>
                <span class="info-box-number">{{ "Enabled" if shipyard else "Unavailable" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1">
                  <i class="icon outfitting">{% include "inline_svgs/outfitting.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Outfitting Status</span>
                <span class="info-box-number">{{ "Enabled" if outfitting else "Unavailable"  }}  </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->


              <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon refuel">{% include "inline_svgs/refuel.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Refueling</span>
                <span class="info-box-text">
                  {{ "Available" if refuel else "Unavailable" }}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon repair">{% include "inline_svgs/repair.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Repair</span>
                <span class="info-box-number">{{ "Available" if repair else "Unavailable" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon rearm">{% include "inline_svgs/rearm.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Rearm</span>
                <span class="info-box-number">{{ "Available" if rearm else "Unavailable" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1">
                  <i class="icon exploration">{% include "inline_svgs/exploration.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Universal Cartographics</span>
                <span class="info-box-number">{{ "Available" if exploration else "Unavailable" }} </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->


              <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon commodities">{% include "inline_svgs/commodities.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Commodities market</span>
                <span class="info-box-text">
                  {{ "Available" if commodities else "Unavailable" }}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon blackmarket">{% include "inline_svgs/blackmarket.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Black market</span>
                <span class="info-box-number">{{ "Available" if black_market else "Unavailable" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon voucher_redemption">{% include "inline_svgs/voucher_redemption.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Voucher redemption</span>
                <span class="info-box-number">{{ "Available" if voucher_redemption else "Unavailable" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1">
                  <i class="icon balance">{% include "inline_svgs/balance.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Weekly maintenance</span>
                <span class="info-box-number">{{ maintenance }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

          <!-- Temp close -->
      </div>
    </section>
</div>
{% endif %}
{% include "footer.jinja2" %}