{% include "header.jinja2" %}
{% include "dynamic_sidebar.jinja2" %}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
{% include "navbar.jinja2" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{ owner }}'s Fleet Carrier</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Carrier View</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
{% if error  %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">No carrier data!</h5>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <p class="text-center">
                      <strong>Is this your carrier?</strong>
                        You don't have a carrier registered. Click <a href="{{ request.route_url('oauth') }}">here</a> to Oauth with FDev and add your carrier!
                    </p>

                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
          <!-- Temp close -->
      </div>
    </section>
  </div>
{% else %}

      <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
          <!-- Header box -->

                  <div class="row">
          <div class="col-md-3">
          <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="img-responsive"
                       {% if carrier_image %}
                       src="{{ request.storage.url(carrier_image) or "/static/img/carrier_default.png" }}"
                       {% else %}
                       src="/static/img/carrier_default.png"
                       {% endif %}
                       alt="User profile picture"
                       style="object-fit: contain; height:250px; width:100%">
                </div>

                <h3 class="profile-username text-center">{{ name }}</h3>

                <p class="text-muted text-center">{{ callsign }}</p>
                                  <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>System</b> <a class="float-right">{{ system or "Unknown" }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Arrived at</b> <a class="float-right">{{ arrival or "Unknown" }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Squadron</b> <a class="float-right">{{ squadron or "Unknown" }}</a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Services</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                  <div class="status">
                <strong><i class="icon shipyard" style="color: {{ '#00A000' if shipyard else '#FF0000' }}" title="Shipyard">{% include 'inline_svgs/shipyard.jinja2' %}</i></strong>
                      <span class="label">Shipyard</span><span class="status-text">{{  "Available" if shipyard else "Personal Only" }}</span>
                      </div>
                <hr>
                  <div class="status">
                <strong><i class="icon outfitting" style="color: {{ '#00A000' if outfitting else '#FF0000' }}">{% include 'inline_svgs/outfitting.jinja2' %}</i></strong>
                <span class="label">Outfitting</span><span class="status-text">{{  "Available" if outfitting else "Personal Only" }}</span>
                      </div>
                <hr>
                  <div class="status">
                <strong><i class="icon outfitting" style="color: {{ '#00A000' if repair else '#FF0000' }}">{% include 'inline_svgs/repair.jinja2' %}</i></strong>
                <span class="label">Repair</span><span class="status-text">{{  "Available" if repair else "Unavailable" }}</span>
                      </div>
                <hr>
                  <div class="status">
                <strong><i class="icon outfitting" style="color: {{ '#00A000' if refuel else '#FF0000' }}">{% include 'inline_svgs/refuel.jinja2' %}</i></strong>
                <span class="label">Refuel</span><span class="status-text">{{  "Available" if refuel else "Unavailable" }}</span>
                      </div>
                <hr>
                  <div class="status">
                <strong><i class="icon outfitting" style="color: {{ '#00A000' if rearm else '#FF0000' }}">{% include 'inline_svgs/rearm.jinja2' %}</i></strong>
                <span class="label">Rearm</span><span class="status-text">{{  "Available" if rearm else "Unavailable" }}</span>
                      </div>
                <hr>
                  <div class="status">
                <strong><i class="icon outfitting" style="color: {{ '#00A000' if exploration else '#FF0000' }}">{% include 'inline_svgs/exploration.jinja2' %}</i></strong>
                <span class="label">Interstellar Cartographics</span><span class="status-text">{{ "Available" if exploration else "Unavailable" }}</span>
                      </div>
                <hr>
                  <div class="status">
                <strong><i class="icon outfitting" style="color: {{ '#00A000' if voucher_redemption else '#FF0000' }}">{% include 'inline_svgs/voucher_redemption.jinja2' %}</i></strong>
                <span class="label">Interstellar Factor</span><span class="status-text">{{ "Available" if voucher_redemption else "Unavailable" }}</span>
                      </div>
                <hr>
                  <div class="status">
                <strong><i class="icon outfitting" style="color: {{ '#00A000' if black_market else '#FF0000' }}">{% include 'inline_svgs/blackmarket.jinja2' %}</i></strong>
                <span class="label">Black Market</span><span class="status-text">{{ "Available" if black_market else "Unavailable" }}</span>
                      </div>
                <hr>
                  <div class="status">
                <strong><i class="icon outfitting" style="color: {{ '#00A000' if notorious_access else '#FF0000' }}">{% include 'inline_svgs/notorious_access.jinja2' %}</i></strong>
                <span class="label">Notorious Access</span><span class="status-text">{{ "Allowed" if notorious_access else "Not Allowed" }}</span>
                      </div>
                <hr>
                  <div class="status">
                <strong><i class="icon outfitting" style="color: {{ '#00A000' if docking_access == 'all' else '#FF0000' }}">{% include 'inline_svgs/docking_access.jinja2' %}</i></strong>
                <span class="label">Docking Access</span><span class="status-text">{{ "Squadron and Friends" if docking_access == "squadronfriends" else docking_access|title }}</span>
                      </div>

              </div>
              <!-- /.card-body -->
            </div></div>
          <div class="col-lg">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Calendar</h3>
              </div>
                                      <!-- THE CALENDAR -->
                    <div id="calendar"></div>
              </div></div></div></div>
                  </section>
            <!-- JIRA reporter -->
{% endif %}
</div>
{% include "footer.jinja2" %}