
<!DOCTYPE html>
<html>
    <head>
        <title>FleetCarrier.Space</title>
        <link href="static/fonts/_eurocaps.css" rel="stylesheet" type="text/css" />
        <link href="static/placeholder.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="background-image">
        </div>
        <div class="middle-banner">
            <div class="header">Fleet Carrier Management System</div>
            <div class="subtitle">Coming soon</div>
        </div>
    </body>
</html>
