  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <i class="icon logo">{% include "inline_svgs/logo.jinja2" %}</i>
      <span class="brand-text font-weight-light">{{ sidebar_logo_title or "FCMS" }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
{% if user %}
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ user.cmdr_image }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.cmdr_name }}</a>
        </div>
      </div>
{% endif %}
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% if user.logged_in %}
          <li class="nav-header">EXAMPLES</li>

              <li class="nav-item">
                <a href="/my_carrier" class="nav-link">
                  <i class="nav-icon fas house-user"></i>
                  <p>
                      My Carrier
                  </p>
                </a>
              </li>
        {% endif %}
        {% if sidebar.sidebar_treeview %}
            <!-- I've got a jar of dirt! -->
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas {{ sidebar.sidebar_treeview.icon }}"></i>
              <p>
                  {{ sidebar.sidebar_treeview.title }}
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            {% for item in sidebar.sidebar_treeview.menuitems %}
                <!-- Iterator -->
              <li class="nav-item">
                <a href="{{ item.linktarget }}" class="nav-link {{ 'active' if current_view == item.view  }}">
                  <i class="far fas {{ item.selected_icon if current_view == item.view else item.unselected_icon }} nav-icon"></i>
                  <p>{{ item.name }}</p>
                </a>
              </li>
            {% endfor %}
            </ul>
          </li>
        </ul>
        {% endif %}
      </nav>
    {% if sidebar.sidebar_menuitems %}
        {% for item in sidebar.sidebar_menuitems %}
              <li class="nav-item">
                <a href="{{ item.link }}" class="nav-link">
                  <i class="nav-icon fas {{ item.icon }}"></i>
                  <p>
                      {{ item.name }}
                  </p>
                </a>
              </li>
        {% endfor %}
    {% endif %}
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
