  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> {{ version or "0.5"}}
    </div>
    <strong>Copyright &copy; 2020 <a href="https://github.com/FuelRats">The Fuel Rats Mischief</a>.</strong> All rights
    reserved. | <a href="https://github.com/FuelRats/FCMS">Github</a> | <a href="https://fuelrats.com/">Fuel Rats</a>
  </footer>

<!-- jQuery -->
<script src="{{request.static_url('FCMS:static/plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{request.static_url('FCMS:static/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{request.static_url('FCMS:static/dist/js/adminlte.min.js')}}"></script>
{% if calendar %}
    {% include "elements/calendar.jinja2" %}
{% endif %}
{% if formadvanced %}
    {% include "elements/formadvanced.jinja2" %}
{% endif %}
  </body>
</html>


