{% include "header.jinja2" %}
<body class="hold-transition login-page" style="background-image: url(/static/img/abs-carrier-fuelrats.jpg)">
<div class="login-box" style="width:500px">
  <div class="login-logo" style="color: #ffffff;">
    <b>{{ project }}</b>
  </div>
  <!-- /.login-logo -->
    {% if email_sent %}
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Please check your email in a few minutes for a link to reset your password.</p>
    </div>
  </div>
    {% elif reset_success %}
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Your password has been reset. You may now <a href="/login">log in</a></p>
    </div>
  </div>
    {% elif error %}
          <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Error: {{ error }}</p>
    </div>

    {% elif 'token' in request.params %}
  <div class="card">
      <p class="login-box-msg">Reset your password</p>

      <form action="/forgot-password" method="post">
          <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" name="password">
               <div class="input-group-append">
                  <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                  </div>
               </div>
          </div>
          <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Verify password" name="password_verify">
              <input type="hidden" name="token" value="{{ request.params['token'] }}">
              <div class="input-group-append">
                  <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                  </div>
              </div>
          </div>
          <div class="row">
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Reset password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>

    {% else %}


  <div class="card">
      <p class="login-box-msg">Request a password reset</p>

      <form action="/forgot-password" method="post">
          <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" name="email">
              <input type="hidden" name="request_token" value="True">
              <div class="input-group-append">
                  <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                  </div>
              </div>
          </div>
          <div class="row">
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Request reset</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
{% endif %}
  </div>


{% include "footer.jinja2" %}