<!DOCTYPE html>
<html>
<head  prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ view }} | Fleetcarrier.space </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% if meta %}
    <!-- Meta -->
    {% if meta.refresh %}
        <!-- Refresh -->
        <meta http-equiv="refresh" content="{{ meta.delay }};url={{ meta.target }}" />
    {% endif %}
{% endif %}
{% if og_meta %}
    {% include "elements/og_meta.jinja2" %}
{% endif %}
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{request.static_url('FCMS:static/plugins/fontawesome-free/css/all.min.css')}}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{{request.static_url('FCMS:static/plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{request.static_url('FCMS:static/dist/css/adminlte.css')}}">
  <!-- FCMS AdminLTE3 overrides -->
  <link rel="stylesheet" href="{{ request.static_url('FCMS:static/darker-lte.css')}}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{% if calendar %}
  <link rel="stylesheet" href="/static/plugins/fullcalendar/main.min.css">
  <link rel="stylesheet" href="/static/plugins/fullcalendar-daygrid/main.min.css">
  <link rel="stylesheet" href="/static/plugins/fullcalendar-timegrid/main.min.css">
  <link rel="stylesheet" href="/static/plugins/fullcalendar-bootstrap/main.min.css">
  <link rel="stylesheet" href="/static/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="/static/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

{% endif %}
{% if jsgrid %}
  <link rel="stylesheet" href="/static/plugins/jsgrid/jsgrid.min.css">
  <link rel="stylesheet" href="/static/plugins/jsgrid/jsgrid-theme.min.css">
{% endif %}
{% if modal %}
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="/static/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
  <!-- Toastr -->
  <link rel="stylesheet" href="/static/plugins/toastr/toastr.min.css">
{% endif %}
    <link href="/static/css/typeahead.css" rel="stylesheet">
    <link href="/static/css/form.css" rel="stylesheet">
    <script type="text/javascript"
          src="/static/scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript"
          src="/static/scripts/deform.js"></script>
    <script type="text/javascript"
            src="/static/scripts/typeahead.min.js"></script>

</head>
