{% include "header.jinja2" %}
<body class="hold-transition login-page" style="background-image: url(/static/img/abs-carrier-fuelrats.jpg)">
<div class="login-box" style="width:500px">
  <div class="login-logo" style="color: #ffffff;">
    <b>{{ project }}</b>
  </div>
  <!-- /.login-logo -->
    {% if login == 'success' %}
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Login success. You are being redirected.</p>
    </div>
  </div>
    {% else %}


  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">{{ message or 'Sign in to start your session.'}}</p>

      <form action="/login" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" name="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="pass">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" name="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mb-1">
        <a href="/forgot-password">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="/register" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
{% endif %}
  </div>
</div>
<!-- /.login-box -->

{% include "footer.jinja2" %}