{% include "header.jinja2" %}
{% include "sidebar.jinja2" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">My Carrier</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">My Carrier</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
{% if error  %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">No carrier registered!</h5>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <p class="text-center">
                      <strong>Register your carrier</strong>
                        You don't have a carrier registered. Click <a href="{{ request.route_url('oauth') }}">here to Oauth with FDev.</a>
                    </p>

                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
          <!-- Temp close -->
      </div>
    </section>
  </div>
{% else %}

      <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon state">{% include "inline_svgs/state.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">{{ callsign }}</span>
                <span class="info-box-number">
                  {{ name }}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon fuel">{% include "inline_svgs/fuel.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Fuel Level</span>
                <span class="info-box-number">{{ fuel }} / 1000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="icon starsystem">{% include "inline_svgs/starsystem.jinja2" %}</i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Current System</span>
                <span class="info-box-number">{{ current_system }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Last Updated</span>
                <span class="info-box-number">{{ last_updated }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

              <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/balance.svg') }}" alt="Balance">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Balance</span>
                <span class="info-box-text">
                  {{ balance }}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/blackmarket.svg') }}" alt="Taxation">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Taxation</span>
                <span class="info-box-number">{{ taxation }} %</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/completed_jumps.svg') }}" alt="Jumps">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Total distance jumped</span>
                <span class="info-box-number">{{ distance_jumped }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/capacity.svg') }}" alt="Capacity">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Capacity</span>
                <span class="info-box-number">{{ capacity }} / 25 000 </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->



              <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/docking_access.svg') }}" alt="Docking access">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Docking access</span>
                <span class="info-box-number">
                  {{ docking_access }}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/notorious_access.svg') }}" alt="Notorious access">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Notorious Access</span>
                <span class="info-box-number">{{ "Yes" if notorious_access else "No" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/shipyard.svg') }}" alt="Shipyard">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Shipyard Status</span>
                <span class="info-box-number">{{ "Enabled" if shipyard else "Unavailable" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/outfitting.svg') }}" alt="Outfitting">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Outfitting Status</span>
                <span class="info-box-number">{{ "Enabled" if outfitting else "Unavailable"  }}  </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->


              <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/refuel.svg') }}" alt="Refuel">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Refueling</span>
                <span class="info-box-text">
                  {{ "Available" if refuel else "Unavailable" }}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/repair.svg') }}" alt="Repair">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Repair</span>
                <span class="info-box-number">{{ "Available" if repair else "Unavailable" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/rearm.svg') }}" alt="Rearm">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Rearm</span>
                <span class="info-box-number">{{ "Available" if rearm else "Unavailable" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/exploration.svg') }}" alt="Exploration">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Universal Cartographics</span>
                <span class="info-box-number">{{ "Available" if exploration else "Unavailable" }} </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->


              <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/commodities.svg') }}" alt="Commodities">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Commodities market</span>
                <span class="info-box-text">
                  {{ "Available" if commodities else "Unavailable" }}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/blackmarket.svg') }}" alt="Black market">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Black market</span>
                <span class="info-box-number">{{ "Available" if black_market else "Unavailable" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/voucher_redemption.svg') }}" alt="Vouchers">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Voucher redemption</span>
                <span class="info-box-number">{{ "Available" if voucher_redemption else "Unavailable" }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1">
                  <img src="{{ request.static_url('FCMS:static/svg/balance.svg') }}" alt="Maintenance">
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Weekly maintenance</span>
                <span class="info-box-number">{{ maintenance }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->


      <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Ships</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Ship</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Coriolis</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for ship, it in ships %}
                  <tr>
                    <td>
                      <i class="icon shipyard">{% include "inline_svgs/shipyard.jinja2" %}</i>
                        {{ it.name|e }}
                    </td>
                    <td>{{ it.basevalue }}</td>
                    <td>
                        {{ it.stock }}
                    </td>
                    <td>
                      <a href="#" class="text-muted">
                        <i class="fas fa-search"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->
      </div>
      <div class="col-lg-6">

            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Itinerary</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>System</th>
                    <th>Arrival</th>
                    <th>Duration</th>
                    <th>Departure</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for it in itinerary %}
                  <tr>
                    <td>
                      <i class="icon itinery">{% include "inline_svgs/itinery.jinja2" %}</i>
                        {{ it.starsystem|e }}
                    </td>
                    <td>{{ it.arrivalTime }}</td>
                    <td>
                        {{ it.visitDurationSeconds }}
                    </td>
                    <td>
                        {{ it.departureTime }}
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->


            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Market</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Stock/Demand</th>
                    <th>Item</th>
                    <th>Buy price</th>
                    <th>Sell Price</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for it in market %}
                  <tr>
                    <td>
                      <i class="icon commodities">{% include "inline_svgs/commodities.jinja2" %}</i>
                        {{ it.stock if it.stock > 0 else it.demand }}
                    </td>
                    <td>{{ it.name }}</td>
                    <td>
                        {{ it.buyPrice }}
                    </td>
                    <td>
                        {{ it.sellPrice }}
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->



            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Modules</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Item</th>
                    <th>Price</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for void, it in modules %}
                  <tr>
                    <td>
                      <i class="icon outfitting">{% include "inline_svgs/outfitting.jinja2" %}</i>
                        {{ it.stock }}
                    </td>
                    <td>{{ it.category }}</td>
                    <td>
                        {{ it.name }}
                    </td>
                    <td>
                        {{ it.cost }}
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->


          <!-- Temp close -->
      </div>
    </section>
{% endif %}
{% include "footer.jinja2" %}