  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <i class="icon logo">{% include "inline_svgs/logo.jinja2" %}</i>
      <span class="brand-text font-weight-light">{{ sidebar_logo_title }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ user.cmdr_image }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.cmdr_name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% if sidebar_treeview %}
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Carrier Management
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/carrier/{{ callsign }}" class="nav-link {{ "active" if current_view == 'summary' }}">
                  <i class="far {{ 'fa-dot-circle' if current_view == 'summary' else 'fa-circle' }} nav-icon"></i>
                  <p>Status Summary</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/carrier/{{ callsign }}/calendar" class="nav-link {{ "active" if current_view == 'calendar' }}">
                  <i class="far {{ 'fa-dot-circle' if current_view == 'calendar' else 'fa-circle' }} nav-icon"></i>
                  <p>Calendar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/carrier/{{ callsign }}/itinerary" class="nav-link {{ "active" if current_view == 'itinerary' }}">
                  <i class="far {{ 'fa-dot-circle' if current_view == 'itinerary' else 'fa-circle' }} nav-icon"></i>
                  <p>Itinerary</p>
                </a>
              </li>
            {% if shipyard %}
              <li class="nav-item">
                <a href="/carrier/{{ callsign }}/shipyard" class="nav-link {{ "active" if current_view == 'shipyard' }}">
                  <i class="far {{ 'fa-dot-circle' if current_view == 'shipyard' else 'fa-circle' }} nav-icon"></i>
                  <p>Shipyard</p>
                </a>
              </li>
            {% endif %}
            {% if outfitting %}
              <li class="nav-item">
                <a href="/carrier/{{ callsign }}/outfitting" class="nav-link {{ "active" if current_view == 'outfitting' }}">
                  <i class="far {{ 'fa-dot-circle' if current_view == 'outfitting' else 'fa-circle' }} nav-icon"></i>
                  <p>Outfitting</p>
                </a>
              </li>
            {% endif %}
            {% if commodities %}
              <li class="nav-item">
                <a href="/carrier/{{ callsign }}/market" class="nav-link {{ "active" if current_view == 'market' }}">
                  <i class="far {{ 'fa-dot-circle' if current_view == 'market' else 'fa-circle' }} nav-icon"></i>
                  <p>Market</p>
                </a>
              </li>
            {% endif %}
        {% endif %}
              <!-- Out of loop -->

        </ul>

      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
