<svg width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:1.5;">
    <g transform="matrix(1,0,0,1,0,-460)">
        <g id="Shipyard" transform="matrix(1,0,0,1,-100,460)">
            <rect x="100" y="0" width="100" height="100" style="fill:none;"/>
            <g transform="matrix(0.958333,0,0,0.958333,6.25,8.3125)">
                <g transform="matrix(1,0,0,1,100,-460)">
                    <path d="M2,530L3,515L36,477L64,477L97,514L98,530L2,530Z" style="fill:none;stroke:currentColor;stroke-width:4.17px;"/>
                </g>
                <g transform="matrix(1,0,0,1,100,-460)">
                    <path d="M36,477L17,530" style="fill:none;stroke:currentColor;stroke-width:2.09px;"/>
                </g>
                <g transform="matrix(1,0,0,1,100,-460)">
                    <path d="M64,477L85,530" style="fill:none;stroke:currentColor;stroke-width:2.09px;"/>
                </g>
                <g transform="matrix(1,0,0,1,100,-460)">
                    <path d="M17,529L64,477" style="fill:none;stroke:currentColor;stroke-width:2.09px;"/>
                </g>
                <g transform="matrix(1,0,0,1,100,-460)">
                    <path d="M84,530L36,477" style="fill:none;stroke:currentColor;stroke-width:2.09px;"/>
                </g>
            </g>
        </g>
    </g>
</svg>
